# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
.env
.env.*
.venv/
# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
# App data
instance/
*.sqlite
# Data dumps (keep sample data folder)
data/**/*
!data/.keep
